<!DOCTYPE html>
<head>
<title>Crawl</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>

<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
  <div class="center jumbotron">
  <h1>Welcome to the Crawl App</h1>

  <form role="form">
      <div class="form-group">
        <label for="email">Enter a type of Crawl:</label>
        <input type="email" class="form-control" id="email" style="width: 50%;">
      </div>
      <div class="form-group">
        <label for="pwd">Enter number of Locations:</label>
        <input type="password" class="form-control" id="pwd" style="width: 50%;">
      </div>
      <div class="form-group">
        <label for="pwd">Enter your city:</label>
        <input type="password" class="form-control" id="pwd" style="width: 50%;">
      </div>
     <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      <button type="submit" class="btn btn-lg btn-primary">Make a Crawl! </button>
  </form>
</div>
</body>



</html>
